-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: 68pm34
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_lophoc`
--

DROP TABLE IF EXISTS `tbl_lophoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_lophoc` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `malop` varchar(50) NOT NULL,
  `tenlop` varchar(100) NOT NULL,
  `ghichu` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `malop` (`malop`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_lophoc`
--

LOCK TABLES `tbl_lophoc` WRITE;
/*!40000 ALTER TABLE `tbl_lophoc` DISABLE KEYS */;
INSERT INTO `tbl_lophoc` VALUES (1,'68PM1','Phß║ºn mß╗üm 1','K68'),(2,'68PM2','Phß║ºn mß╗üm 2','K68'),(3,'68PM3','Phß║ºn mß╗üm 3','K68'),(4,'68PM4','Phß║ºn mß╗üm 4','K68'),(5,'68PM5','Phß║ºn mß╗üm 5','K68'),(6,'68PM6','Phß║ºn mß╗üm 6','K68'),(7,'68HTTT1','Hß╗ç thß╗æng th├┤ng tin 1','K68'),(8,'68HTTT2','Hß╗ç thß╗æng th├┤ng tin 2','K68'),(9,'68KTPM1','Kß╗╣ thuß║¡t phß║ºn mß╗üm 1','K68'),(11,'68KTPM3','K─⌐ thuß║¡t phß║ºn mß╗üm 3','K68');
/*!40000 ALTER TABLE `tbl_lophoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_sinhviens`
--

DROP TABLE IF EXISTS `tbl_sinhviens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_sinhviens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `hoten` varchar(20) NOT NULL,
  `mssv` int(11) NOT NULL,
  `gioitinh` varchar(10) NOT NULL,
  `malop` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_sinhviens`
--

LOCK TABLES `tbl_sinhviens` WRITE;
/*!40000 ALTER TABLE `tbl_sinhviens` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_sinhviens` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-12 22:44:07
